.topmenu {
    @apply flex flex-col;
}

.topmenu .logo {
    @apply w-24;
}

.topmenu-brand {
    @apply flex flex-row;
}

.topmenu .title {
    color: theme("colors.primary");
    @apply font-semibold text-2xl;
    @apply flex flex-row items-center;
}

.topmenu .searchbox {
    @apply flex-row;
    @apply p-0;
    @apply w-full;
}

.topmenu .searchbox input {
    @apply w-full;
    border: 1px solid theme("colors.neutral-color1");
    border-right: none;
    @apply rounded-l;
}

.topmenu .searchbox input::placeholder {
    color: theme("colors.primary");
}

.topmenu .searchbox-button {
    background-color: theme("colors.primary");
    @apply px-2 py-1;
    @apply rounded;
    @apply text-white text-sm;
}

.topmenu .searchbox-button:hover {
    background-color: theme("colors.accent-color");
}

.topmenu .userbox {
    @apply flex flex-row;
    @apply pr-1
}

.topmenu .userbox .favoritos {
    @apply flex flex-row;
    @apply justify-end;
}

.topmenu .userbox .favourite-counter {
    @apply absolute;
    @apply rounded-full;
    padding: 0.01em 0.3em;
    @apply text-xs;
    @apply font-semibold;
    background-color: theme("colors.neutral-color1");
}

.topmenu .userbox .shopping-cart {
    @apply flex flex-row;
    @apply justify-end;
}

.topmenu .userbox .shopping-cart-counter {
    @apply absolute;
    @apply rounded-full;
    padding: 0.01em 0.3em;
    @apply text-xs;
    @apply font-semibold;
    background-color: theme("colors.neutral-color1");
}

.topmenu .userbox .user-sign {
    @apply flex flex-row;
}